@model BluRay
@{
    ViewData["Title"] = "Detail";
    string blurayDescription = "";
    int blurayInfoShort = 300;
}

<h2>@Model.Title</h2>
<br />

<div>
    <img src="~/images/@Model.ImageName" />
</div>