@model IList<BluRay>
@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>


<div>
    @foreach (var bluray in Model)
    {
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@bluray.Id" method="get">
            <img src="~/images/@bluray.ImageName" />
        </a>
    }
</div>
