/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*** Index Page ***/

#blurayCollection {
    display: grid;
    grid-template-columns: 40rem 40rem 40rem;
    grid-template-rows: 45rem 45rem 45rem;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}